<!-- New project modal-->
<p-dialog header="Add new Paper " [(visible)]="addNewPaperModal" [modal]="true"[style]="{ width: '150vh','height':'100vh' }"[baseZIndex]="10000" 
  [draggable]="false"  [resizable]="false" styleClass="p-fluid">
  
  <div class="p-fluid">
    <img class="center" src="assets/img/add_person_user_icon_131752.ico" />
    <br />

    <form [formGroup]="paperForm" >
    
      <div class="p-grid p-fluid">  


        <div class="p-field p-col-6 ">
    
            <label for="paper_name">Paper Name</label>
                <input id="paper_name" type="text" pInputText class="brad" formControlName="paper_name"> 
                <div *ngIf="paper_name.touched && paper_name.invalid"> 
                  <small *ngIf="paper_name.errors.required"class="text-danger">Name is required <br> </small> 
                  <small  *ngIf="paper_name.errors.minlength" class="text-danger">Name must contain 4 characters at least<br></small> 
                  <small *ngIf="paper_name.errors.maxlength" class="text-danger">Name must contain max 20 characters</small> 
                </div> 
            </div>
        <div class="p-field p-col-6 ">
          <label for="paper_type"> Paper Type :</label>
          <select class="form-select" aria-label="Default select example" formControlName="paper_type">
              <option *ngFor="let type of papersType" value="{{ type.id }}" >{{ type.paper_type }}</option>
          </select>
          <div *ngIf="paper_type.touched && paper_type.invalid"> 
            <small *ngIf="paper_type.errors.required"class="text-danger">Paper Type is required <br> </small> 
          </div> 
      </div>
      </div>
    
    
    <div class="p-grid p-fluid">  
      <div class="p-field p-col-6 ">
          <label for="icon">Expiration Date</label>
              <input id="expiration_date" type="date" pInputText class="brad" formControlName="expiration_date"> 
              <div *ngIf="expiration_date.touched && expiration_date.invalid"> 
                <small *ngIf="expiration_date.errors.required"class="text-danger">Expiration Date is required <br> </small> 
              </div> 
              <!-- <p-calendar  [showIcon]="true" inputId="icon"formControlName="start_date"dateFormat="dd.mm.yy"></p-calendar> -->
      </div>

      <div class="p-field p-col-6 ">
      <label for="project_id"> Project </label>
      <select class="form-select" aria-label="Default select example" formControlName="project_id">
          <option *ngFor="let project of projects" value="{{ project.id }}">{{ project.project_name }}</option>
      </select>
      <div *ngIf="project_id.touched && project_id.invalid"> 
        <small *ngIf="project_id.errors.required"class="text-danger">Project is required <br> </small> 
      </div> 
    </div>
    </div>

    <div class="p-grid p-fluid">  
     
            <div class="p-field p-col-6 ">
              <label for="status"> Status </label>
              <select class="form-select" aria-label="Default select example" formControlName="status">
                  <option *ngFor="let status of status_paper" value="{{ status.id }}">{{ status.status_name }}</option>
              </select>
              <div *ngIf="status.touched && status.invalid"> 
                <small *ngIf="status.errors.required"class="text-danger">Status is required <br> </small> 
              </div> 
            </div>
            <div class="p-field p-col-6 ">
              <label for="file">File:</label><br>
              <input class="form-control" type="file" id="formFile" formControlName="file" (change)="uploadFile($event)">           
            </div>

           
            </div>

    <div class="p-grid p-fluid">  
      <div class="p-field p-col-12">
        <span class="p-float-label" >
          <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
          <label for="description">Description</label>
        </span>
            </div>
    </div>
    </form>

  </div>

  <ng-template pTemplate="footer">
    <button type="button" (click)="hideTheModal()" class="btn btn-outline-primary"style="border:none;">Cancel</button>
    <button type="button" (click)="addPaper()"class="btn btn-outline-primary" [disabled]="paperForm.invalid"style="border:none;">Save</button>
</ng-template>
</p-dialog>



